/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 100;
    padding: 1000;
    background-color: #00ccff;
  }
  
  p {
    text-align: center;
    background-color: white;
    border-style: dotted;
    border-color: gray;
  }

  #rodape{    
    border-style:none;
  }


  .classe{
    font-family: "Algerian";
  }

  #vermelho{
    text-align: left;
    border-style: solid;
    border-color: black;
    padding-left: 20%;
    color: red;
  }

  #verde {
    text-align: left;
  }

  #azul {
    text-align: right;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    border-color: white;
    border-style: solid;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form textarea {
    width: 100%;
    max-width: 500px;
  }

.animacao-keyframes {
  position: relative;
  animation: mover 3s infinite 
  alternate;
}

@keyframes mover {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

.animacao1replicada {
  position: relative;
  animation: mover2 1.4s infinite 
  alternate;
}

@keyframes mover2 {
  from {
    left: 100px;
  }
  to {
    left: 400px;
  }
}

.animacao-transition {
  font-size: 20px;
  color: red;
  transition: all 0.5s ease;
}

.animacao-transition:hover {
  font-size: 28px;
  color: blue;
}

.animacao-hover {
  display: inline-block;
  transition: transform 0.5s;
  color: greenyellow;
}

.animacao-hover:hover {
  transform: scale(1.3) rotate(10deg);
}

.animacao-completa {
  position: relative;
  background-color: lightgray;
  padding: 10px;
  color:aquamarine;
  animation: flutuar 2s infinite alternate;
  transition: background-color 0.3s;
}

.animacao-completa:hover {
  background-color: orange;
}

@keyframes flutuar {
  from {
    top: 0px;
  }
  to {
    top: 20px;
  }
}

.container {
  perspective: 800px;
}

.container p {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.container p:hover {
  transform: rotateY(45deg);
}